<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/books">Books</a></li>
  <li><a href="/books/post">Post</a></li>
</ol>

<!-- <div class="row">
	<h2>Search Books</h2>
    <form role="form" method="post">
       <div id="custom-search-input">
            <div class="input-group col-md-8">
                <input type="text" name="isbn" class="  search-query form-control" placeholder="ISBN" />
            </div>
            <div class="input-group col-md-2">
                <input type="submit" value="Find" class="btn btn-info btn-block">
                
            </div>
        </div>
    </form>
</div> -->

<section class="job-form-section job-form-section--image">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="job-form-box">
              <h2 class="heading">Find a <span class="accent">book</span> you will <span class="accent">love</span>.</h2>
              <form id="job-main-form" method="post" class="job-main-form">
                <div class="controls">
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input type="text" id="isbn" name="isbn" placeholder="Required. ISBN-10 or ISBN-13" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="Optional. Eg. Marlboro, NJ" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" name="submit" class="btn btn-primary job-main-form__button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

