$def with(books)

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/books">Books</a></li>
  <li><a href="/books/post">Post</a></li>
</ol>


<section class="job-form-section job-form-section--image">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="job-form-box">
              <h2 class="heading">Find a <span class="accent">book</span> you will <span class="accent">love</span>.</h2>
              <form id="job-main-form" method="post" class="job-main-form">
                <div class="controls">
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="term">Title/ISBN/AUTHOR</label>
                        <input type="text" id="term" name="term" placeholder="Required. Title or ISBN-10 or ISBN-13" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="Optional. Eg. Marlboro, NJ" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" name="submit" class="btn btn-primary job-main-form__button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

<section>
      <div class="container">
        <h3 class="heading">Sampling of current <span class="accent">books</span></h3>

        $for book in books:
            <div class="job-listing  ">
              <div class="row">
                <div class="col-sm-1">
                  $if book.image_name:
                    <a href="#lightbox-modal" class="thumbnail class-lightbox" data-toggle="modal" data-imgsrc="/static/img/uploads/books/${book.bookid}_${book.image_name}">
                      <img src="/static/img/uploads/books/${book.bookid}_${book.image_name}" alt="test">
                    </a>
                </div>
                <div class="col-sm-3"><h4>$book.title</h4  >
                    <p>$book.author <br>$book.isbn</p>
                </div>
                <div class="col-sm-2">\$ $book.price
                   <p><span  class="label $book.labelCondition">$book.condition</span></p>
                </div>
                <div class="col-sm-2"><i class="fa fa-map-marker job__location"></i>$book.city, $book.state</div>
                <div class="col-sm-2">$book.upload_time</div>
                <div class="col-sm-2"><a href="#contactFormModal" class="class-contactFormModal" data-toggle="modal" data-username="$book.username" data-userid="$book.userid" data-itemid="$book.bookid" data-itemtype="Book" data-itemtitle="$book.title"><span class="label label-default">Contact Seller</span></a>
                </div>
              </div>
            </div>
        
        <!--<div class="pages">
          <p class="load-more"> <a href="#" class="btn btn-primary"><i class="fa fa-chevron-down"></i> Load more</a></p>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"> <a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>-->
      </div>
    </section>

