$def with (books, meta, pagenum)

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/books">Books</a></li>
  <li><a href="/books/post">Post</a></li>
</ol>

$if meta:
	<section class="job-form-section job-form-section">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-8 col-lg-offset-2">
	            <div class="job-form-box">
	              <h2 class="heading"><span class="accent">Book </span> Information.</h2>
	                <div class="controls">
	                  <div class="row">
	                    <div class="col-md-12 panelTop">  
	                        <div class="col-md-4">  
	                          <img class="img-responsive" src="http://covers.openlibrary.org/b/isbn/$meta['ISBN-13']-L.jpg" alt=""/>
	                        </div>
	                        <div class="col-md-8">  
	                          <h2>$meta['Title']</h2>
	                          <p>Author     : $meta['Authors']</p>
	                          <p>ISBN13     : $meta['ISBN-13']</p>
	                          <p>Year       : $meta['Year']</p>
	                          <p>Publisher  : $meta['Publisher']</p>

	                        </div>
	                        <div class="col-md-8">
	                          Note: The cover may not be be up-to-date.
	                        </div>
	                    </div>

	                    
	                  </div>
	                </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>



<section>
      <div class="container">
        $if books:
            <h3 class="heading">We have found your <span class="accent">books</span></h3>
        $else:
            <h3 class="heading">Sorry, we could not find any <span class="accent">books</span></h3>
        
        
        $for book in books:
            $code:
                displayTime = book.created.strftime("%m-%d-%y %H:%M:%S") 
            <div class="job-listing  ">
              <div class="row">
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2 "><a href="#contactFormModal" class="class-contactFormModal" data-toggle="modal" data-username="$book.username" data-userid="$book.userid" data-itemid="$book.bookid" data-itemtype="Book" data-itemtitle="$book.title"><h4>$book.username</h4></a>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2 "><strong>$book.title</strong>
                    <p>$book.isbn</p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2 ">\$ $book.price
                   <p><span  class="label $book.labelCondition">$book.condition</span></p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2 "><i class="fa fa-map-marker job__location"></i>$book.city</div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2 ">$book.state</div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0 col-md-2 ">$displayTime</div>
              </div>
            </div>
            
        
        <div class="pages">
          <p class="load-more"> <a href="#" class="btn btn-primary"><i class="fa fa-chevron-down"></i> Load more</a></p>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"> <a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </section>

