<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/books">Books</a></li>
  <li><a href="/books/post">Post</a></li>
</ol>

$if not session.userid:
   <div> <h5>Please login in order to post items on this site</h5></div>
$else:
    <section style="background: #fafafa;">
	      <div class="container">
	        <div class="row margin-bottom">
	          <div class="col-md-12 text-center">
	            <div class="heading">
	              <h2>Post your <span class="accent">books</span> . Its <span class="accent">free</span></h2>
	            </div>
	          </div>
	          <div class="col-md-8 col-md-offset-2">
	            <form method="post" enctype="multipart/form-data">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="form-group">
	                    <label for="condition">Condition</label>
	                    <select name="condition" class="form-control input-sm">
						  <option>Excellent</option>
						  <option>Very Good</option>
						  <option>Good</option>
						  <option>Fair</option>
						  <option>Poor</option>
						</select>
	                   <!--  <input id="contion" type="text" class="form-control"> -->
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                  <div class="form-group">
	                    <label for="isbn">ISBN</label>
	                    <input id="isbn" name="isbn" type="text" class="form-control">
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                  <div class="form-group">
	                    <label for="title">Title</label>
	                    <input id="title" name="title" type="text" class="form-control">
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                  <div class="form-group">
	                    <label for="author">Author</label>
	                    <input name="author" type="text" id="author" class="form-control">
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                  <div class="form-group">
	                    <label for="price">Price</label>
	                    <input id="price" name="price" type="text" class="form-control">
	                  </div>
	                </div>
					<div class="col-sm-6">
	                  <div class="form-group">
	                    <label for="book_img">Upload Image</label>
	                    <input id="book_img" name="book_img" type="file" class="form-control">
	                  </div>
	                </div>
	                <div class="col-sm-12 text-center">
	                  <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Submit</button>
	                </div>
	              </div>
	            </form>
	          </div>
	        </div>
	    </div>
	</section>
	