$def with(instruments)

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/instruments">Instruments</a></li>
  <li><a href="/instruments/post">Post</a></li>
</ol>



<section class="job-form-section job-form-section--image">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="job-form-box">
              <h2 class="heading">Find an <span class="accent">instrument</span> you will <span class="accent">love</span>.</h2>
              <form id="job-main-form" method="post" class="job-main-form">
                <div class="controls">
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="title">Keyword</label>
                        <input type="text" id="title" name="title" placeholder="Name of the Instrument" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="Optional. Marlboro, NJ" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" name="submit" class="btn btn-primary job-main-form__button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <h3 class="heading">Sampling of current <span class="accent">instruments</span></h3>

        $for instrument in instruments:
            <div class="job-listing  ">
              <div class="row">
                <div class="col-xs-1">
                  $if instrument.image_name:
                    <a href="#lightbox-modal" class="thumbnail class-lightbox" data-toggle="modal" data-imgsrc="/static/img/uploads/instruments/${instrument.instrumentid}_${instrument.image_name}">
                      <img src="/static/img/uploads/instruments/${instrument.instrumentid}_${instrument.image_name}" alt="test">
                    </a>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0"><h4>$instrument.title</h4>
                    <p>$instrument.instrument</p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0">\$ $instrument.price
                   <p><span  class="label $instrument.labelCondition">$instrument.condition</span></p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><i class="fa fa-map-marker job__location"></i>$instrument.city, $instrument.state</div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-2 col-md-offset-0">$instrument.upload_time</div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0"><a href="#contactFormModal" class="class-contactFormModal" data-toggle="modal" data-username="$instrument.username" data-userid="$instrument.userid" data-itemid="$instrument.instrumentid" data-itemtype="Instrument" data-itemtitle="$instrument.title"><span class="label label-default">Contact Seller</span></a></div>
                
              </div>
            </div>



        <!--<div class="pages">
          <p class="load-more"> <a href="#" class="btn btn-primary"><i class="fa fa-chevron-down"></i> Load more</a></p>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"> <a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>-->
      </div>
    </section>









