
<section style="background: #fafafa;">
	      <div class="container">
	        <div class="row margin-bottom">
	          <div class="col-md-12 text-center">
	            <div class="heading">
	              <h2>Forgot username or password. We can help!</h2>
	              <p><h4>Enter your emai and we will mail you the information</h4></p>
	            </div>
	          </div>
	          <div class="col-md-8 col-md-offset-2">
	            <form method="post">
	              <div class="row">
	                <div class="col-sm-6">
	                  <div class="form-group">
	                    <label for="email">Email</label>
	                    <input id="email" name="email" type="text" class="form-control">
	                  </div>
	                </div>
	                <div class="col-sm-6">
	                  <div class="form-group">
	                    <label for="email_confirm">Confirm Email</label>
	                    <input id="email_confirm" name="email_confirm" type="text" class="form-control">
	                  </div>
	                </div>
	                <div class="col-sm-12 text-center">
	                  <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Submit</button>
	                </div>
	              </div>
	            </form>
	          </div>
	        </div>
	    </div>
	</section>

<!-- <div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Password Request</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form method="post" role="form" >
			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email">
			    			</div>

			    			<input type="submit" value="Submit" class="btn btn-info btn-block">
			    		
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div> -->