$def with (items)

<!-- <ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/login">items</a></li>
  <li><a href="/items/post">Post</a></li>
</ol> -->

<div class="container">
	<div class="row">
		<div class="span5">
            <table class="table table-striped table-condensed">
                  <thead>
                  <tr>
                      <th>Image</th>
                      <th>Item</th>
                      <th>Title</th>
                      <th>Desciption</th>
                      <th>Posted On</th>
                      <th>Price</th>
                      <th>Condition</th> 
                      <th>Edit</th>
                      <th>Delete</th>
                  </tr>
              </thead>   
              <tbody>
                $for item in items:
                    <tr>
                        <td>
                            <div class="col-xs-5 col-sm-4" >
                                $if item.image_name:
                                    <a  href="#lightbox-modal" class="thumbnail class-lightbox" data-toggle="modal" data-imgsrc="/static/img/uploads/${item.type.lower()}s/${item.itemid}_${item.image_name}">
                                        <img src="/static/img/uploads/${item.type.lower()}s/${item.itemid}_${item.image_name}" alt="test">
                                    </a>
                            </div>
                        </td>
                        <td>$item.type</td>
                        <td><h5 align="center">$item.title</h5></td>
                        <td>$item.identifier</td>
                        <td>$item.created</td>
                        <td>$item.price</td>
                        <td><span class="label $item.labelCondition">$item.condition</span></td>
                        <td><a href="/${item.type.lower()}s/post/$item.itemid"><span class="label label-info">Edit</span></a></td>
                        <td><a href="/login/delete/$item.type/$item.itemid"><span class="label label-danger">Delete</span></a></td> 
                  </tr>                                  
              </tbody>
            </table>
    </div>
	</div>
</div>