$def with(games)

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/games">Games</a></li>
  <li><a href="/games/post">Post</a></li>
</ol>



<section class="job-form-section job-form-section--image">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="job-form-box">
              <h2 class="heading">Find a <span class="accent">game</span> you will <span class="accent">love</span>.</h2>
              <form id="job-main-form" method="post" class="job-main-form">
                <div class="controls">
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="title">Keyword</label>
                        <input type="text" id="title" name="title" placeholder="Name of the Game" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="Optional. Marlboro, NJ" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" name="submit" class="btn btn-primary job-main-form__button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="container">
        <h3 class="heading">Sampling of current <span class="accent">games</span></h3>

        $for game in games:
            $code:
                displayTime = game.created.strftime("%m-%d-%y %H:%M:%S")     
            <div class="job-listing  ">
              <div class="row">
              
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2"><h4>$game.username</h4>
                    <p>$game.email</p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2">$game.title
                    <p>$game.console</p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2 ">\$ $game.price
                   <p><span  class="label $game.labelCondition">$game.condition</span></p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2"><i class="fa fa-map-marker job__location"></i>$game.city</div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2">$game.state</div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0 col-md-2">$displayTime</div>
                
              </div>
            </div>
        
        <div class="pages">
          <p class="load-more"> <a href="#" class="btn btn-primary"><i class="fa fa-chevron-down"></i> Load more</a></p>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"> <a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </section>







