$def with (games, pagenum)

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/games">Games</a></li>
  <li><a href="/games/post">Post</a></li>
</ol>



<section>
      <div class="container">
        $if games:
            <h3 class="heading">We have found your <span class="accent">games</span></h3>
        $else:
            <h3 class="heading">Sorry, we could not find any <span class="accent">games</span></h3>

        $for game in games:
            $code:
                displayTime = game.created.strftime("%m-%d-%y %H:%M:%S")     
            <div class="job-listing  ">
              <div class="row">
                
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2"><h4>$game.username</h4>
                    <p>$game.email</p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2">$game.title
                  <p>$game.console</p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2 ">\$ $game.price
                   <p><span  class="label $game.labelCondition">$game.condition</span></p>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2"><i class="fa fa-map-marker job__location"></i>$game.city</div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-2 col-md-offset-0 col-md-2">$game.state</div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0 col-md-2">$displayTime</div>
               
              </div>
            </div>
        
        <div class="pages">
          <p class="load-more"> <a href="#" class="btn btn-primary"><i class="fa fa-chevron-down"></i> Load more</a></p>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"> <a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </section>

