    <section style="background: #fafafa;">
      <div class="container">
        <div class="row margin-bottom--big">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="breadcrumbs">
              <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>About Us</li>
              </ul>
            </div>
            <h1 class="heading">About Us</h1>
            <p class="lead text-center margin-bottom">A startup by Marlboro and Edison NJ School students</p>
          </div>
        </div>
        <div class="row"> 
          <div class="col-md-12">
            <ul class="owl-carousel testimonials same-height-row">
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>Starting this website is my way of bringing my K12 community closer and mutually benefiting from each other. My current focus is K12 community of Marlboro, NJ</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><!-- <img alt="" src="img/person-2.jpg"> -->
                      <h5>Jasmine Shamnani (Founder)</h5>
                      <p>8th Grade, MMMS Marlboro</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>I see a great potential in this startup as I see students like myself benefit from this website. My current focus is K12 community of Edison, NJ</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><!-- <img alt="" src="img/person-2.jpg"> -->
                      <h5>Arvin Satwani (Co-Founder)</h5>
                      <p>9th Grade, J.P. Stevens</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>I have been a programmer for many years. This is my chance to give back to the community by helping these students learn how to launch a startup.</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><!-- <img alt="" src="img/person-3.png"> -->
                      <h5>Ashok Shamnani</h5>
                      <p>Technical Evangelist</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>We are scared of bugs in real life but we help K12Listing.com in finding <em>Software Bugs</em> by testing this website. So far we found two !</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><!-- <img alt="" src="img/person-4.jpg"> -->
                      <h5>Rianna &amp; Ashvin (QA Testing)</h5>
                      <p>4th &amp; 5th Graders</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>Willing to volunteer ? </p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                    <div class="name-picture"><!-- <img alt="" src="img/person-4.jpg"> -->
                      <h5>This could be you</h5>
                      <p>Volunteer</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>


   