    <div class="container">
		<div class="row">
			<div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
				<div class="[ info-card ]">
					<!-- <img style="width: 100%" src="https://avatars.githubusercontent.com/u/564874?v=3" /> -->
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
							<h1> Jasmine Shamnani (Founder) </h1>
							<h3> 8th Grader, Marlboro Memorial Middle School, NJ </h3>
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<p>Every year as I move betwen grades, I have piles of used items like textbooks, games and musical instruments that lie around never to be used again. I wanted to find these items a new home while cashing in some money to help me buy items that I need for my upcoming grade. Yes, I could have sold them to the re-sellers like Amazon, AbeBooks, and GameStop. However, I would only get pennies on the dollar. I saw the opportunity in my K12 community where exchanging these items could benefit both the local buyers and sellers. Buyers gain by purchasing items for cheaper than the re-seller websites. And sellers gain by getting a better price for their items than selling it to a re-seller website. Starting this website is my way of bringing my K12 community closer and mutually benefiting from each other. </p>
							<div class="social">
								<a href="" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

								<a href="" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

								<a href="" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

								<a href="" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>

								<a href="" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
    		<div class="[ col-sm-6 col-md-4 ]">
				<div class="[ info-card ]">
					<!-- <img style="width: 100%" src="http://api.randomuser.me/portraits/women/45.jpg" /> -->
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
							<h1> Arvin Satwani (Co-Founder) </h1>
							<h3> 9th Grader, J.P. Stevens, Edison, NJ</h3>
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<p>On a casual Saturday morning, Jasmine sold this idea to me. After hearing from her, I realized that I too have a pile of items that I have accumulated over the years and they need TLC. I joined as the Co-Founder to help her with her K12 community at Marlboro NJ, while trying to bring this concept to life in my own K12 community at Edison, NJ</p>
							<div class="social">
								<a href="" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

								<a href="" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

								<a href="" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

								<a href="" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>

								<a href="" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div class="row">
			<div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
				<div class="[ info-card ]">
					<!-- <img style="width: 100%" src="https://avatars.githubusercontent.com/u/564874?v=3" /> -->
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
							<h1> Ashok Shamnani (Tech Advisor) </h1>
							<h3> Techincal Evangelist </h3>
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<p>I have been a programmer for many years and have always wanted to give back to the community. I have known Jasmine and Arvin since they were kids. They came to me with this idea and asked for help building this website. I am happy to provide technical guidance to these kids and wish them success. </p>
							<div class="social">
								<a href="" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

								<a href="" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

								<a href="" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

								<a href="" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>

								<a href="" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
    		<div class="[ col-sm-6 col-md-4 ]">
				<div class="[ info-card ]">
					<!-- <img style="width: 100%" src="http://api.randomuser.me/portraits/women/45.jpg" /> -->
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
							<h1> Rianna Shamnani, Ashvin Satwani  </h1>
							<h3> Quality Assurance</h3>
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<p>Rianna is a 4th Grader at Robertsville Elementary, Marlboro NJ and Ashvin is a 5th Grader at Martin Luther King, Edison NJ. These young entrepreneurs are excited about exchanging their books &amp; games and have volunteered to help us with the testing of this site. Although scared of bugs in real life, they find catching software bugs a sport. They now know what a <em>Software Bug</em> is and have already found 2 on our site and have helped us fix it.</p>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</div>