<div class="container">

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <br><br><br><br>
                <img class="img-responsive" src="/static/images/social-trading.png" alt="">
            </div>
            
             
            <div class="col-md-6">
                <h2>K12 Exchange Program</h2>
                <h4>A Parent-to-Parent exhange within a community</h4>
                <div class="well"><h3>An idea inspired by a student of Marlboro Memorial Middle School, Marlboro NJ</h3>
                </div>
                
                <p>Kids graduating from their current grade and need new text books?</p>
                <p>Not sure what to do with their old text books ? </p>
                <p>Kids bored of playing their old game over and over again ?</p>
                <p>Upgraded your kids musical instrument and have an old to spare ? </p>
                <p></p>
                <p>K12 Exchange provides you the opportunity to sell your old books, games and instruments within
                your own K12 community who you can trust and have known all along without a middle man. Book websites
                like Amazon, AbeBooks etc pay you pennies on a dollar and require your time and effort to mail your items.</p>

                <p>You can post your old text books, games, instruments and do a <em>Fair</em> exchange OR Earn top dollars and use them to purchase new text books, games or instruments from parents of other
                students in your community. </p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Categories</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <a href="/books"><img class="img-responsive" src="/static/images/stem.png" alt=""></a>
                    <div class="caption">
                        <h3>Text Books<br>
                            <small>STEM</small>
                        </h3>
                        <p>Find STEM text books that are part of your school curriculum .</p>                    
                        <br>    
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/static/images/games.png" alt="">
                    <div class="caption">
                        <h3>Games<br>
                            <small>PS4, Xbox1, Nintendo 3DS, Wii U</small>
                        </h3>
                        <p>Latest and greatest video games compatible with your PS2, Wii and DS devices.</p>                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="/static/images/instruments.jpg" alt="">
                    <div class="caption">
                        <h3>Musical Instruments<br>
                            <small>Cellos, Violins, Flutes, Clarinets and more..</small>
                        </h3>
                        <p>Musical instruments for your school band and orchestra approved by your current school .</p>                        
                    </div>
                </div>
            </div>
        
        <div class="row">
        </div>
        <!-- Our Customers -->
        <div class="row">

            <div class="col-lg-12">
                <h2 class="page-header">Marlboro Schools</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/static/images/mhs-logo.png" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/static/images/mmms-logo.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/static/images/mms-logo.jpg" alt="">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" src="/static/images/robertsville-logo.png" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
