<section style="background: #fafafa;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="breadcrumbs">
              <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
              </ul>
            </div>
            <h1 class="heading">K12 Exchange Program</h1>
            <p class="lead text-center">An idea inspired by a student of Marlboro Memorial Middle School, Marlboro NJ.</p>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div id="blog-post" class="col-lg-8 col-lg-offset-2">
            <div id="post-content">
              <!-- <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
              <h2>Header Level 2</h2>
              <ol>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
              </ol> -->
              <blockquote>
                <p><h5><em>Are your kids graduating from their current grade and need new text books?.</em></h5></p>
                <p><h5><em>You are not sure what to do with their old text books?</em></h5></p>
                <p><h5><em>Are your kids bored of playing their old game over and over again?</em></h5></p>
                <p><h5><em>Upgraded your kids musical instrument and have an old to spare?</em></h5></p>
              </blockquote>

              <h3>K12Listing to the rescue</h3>
              <p>K12 Exchange provides you the opportunity to sell your old books, games and instruments within your own K12 community who you can trust and have known all along without a middle man. Book websites like Amazon, AbeBooks etc pay you pennies on a dollar and require your time and effort to mail your items.

              You can post your old text books, games, instruments and do a Fair exchange OR Earn top dollars and use them to purchase new text books, games or instruments from parents of other students in your community. </p>
              
            </div>
            <!-- /#post-content-->
          </div>
        </div>
      </div>
    </section>
    <section style="background: #fafafa;">
      <div class="container">
        <h3 class="heading">Featured Listings</h3>
        <div class="row featured same-height-row">
          <div class="col-md-4">
            <div class="box-image-text bg-visible same-height"> 
              <div class="top"><a href="/books">
                  <div class="image"><img src="/static/img/featured2.jpg" alt="" class="img-responsive"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Books</a></h5>
                <p class="featured__details">  <!-- <i class="fa fa-map-marker job__location"></i>Palo Alto --><span class="label featured__label label-success">Available</span></p>
                <p>Find textbooks relevant to your community schools.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-image-text bg-visible same-height"> 
              <div class="top"><a href="/games">
                  <div class="image"><img src="/static/img/featured1.jpg" alt="" class="img-responsive"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Games</a></h5>
                <p class="featured__details">  <!-- <i class="fa fa-map-marker job__location"></i>San Francisco --><span class="label featured__label label-success">Available</span></p>
                <p>Latest and greatest video games compatible with consoles like PS4, PS3, XBox One and more.</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="box-image-text bg-visible same-height"> 
              <div class="top"><a href="">
                  <div class="image"><img src="/static/img/featured3.jpg" alt="" class="img-responsive"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Musical Instruments</a></h5>
                <p class="featured__details">  <!-- <i class="fa fa-map-marker job__location"></i>San Francisco --><span class="label featured__label label-default">Coming Soon</span></p>
                <p>Musical instruments for your school band and orchestra approved by your current school.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="text-center margin-top"><a href="category.html" class="btn btn-ghost">See more jobs</a></div> -->
      </div>
    </section>
    