    <section style="background: #fafafa;">
      <div class="container">
        <div class="row margin-bottom--big">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="breadcrumbs">
              <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
              </ul>
            </div>
            <h1 class="heading">K12Listing</h1>
            <p class="lead text-center margin-bottom">A startup by Marlboro and Edison NJ School students</p>
          </div>
        </div>
        <div class="row"> 
          <div class="col-md-12">
            <ul class="owl-carousel testimonials same-height-row">
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>Are your kids graduating from their current grade and need new text books?</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>You are not sure what to do with their old text-books and other books?</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>Are your kids bored of playing their old game over and over again?</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>Upgraded your kids musical instrument and have an old to spare?</p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="testimonial same-height-always">
                  <div class="text">
                    <p>List your stuff here and help your community benefit </p>
                  </div>
                  <div class="bottom">
                    <div class="icon"><i class="fa fa-quote-left"></i></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div>
              <h3>K12Listing to the rescue</h3>
              <p>K12Listing provides you the opportunity to sell your old books, games and instruments within your own K12 community who you can trust and have known all along. Just trade or exchange with other students in your own K12 community without going through the re-seller websites. Re-seller websites like Amazon, AbeBooks, Gamestop etc pay you pennies on a dollar and require your time and effort to mail your items. They sell you back these books and games at a much higher price.

              Now you can post your old text books, games, instruments and do a <em>Fair</em> exchange OR Earn <em>Top</em> dollars and use them to purchase new text books, games or instruments from parents of other students in your K12 community. </p>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div id="blog-post" class="col-lg-8 col-lg-offset-2">
            <div id="post-content">
              <h3 class="heading">How it works</h3>
              <blockquote>
                <p>It's simple and easy. You sign up and start posting your items right away. Its free.</p>
                <p>The buyer's then contact you via email.</p>
                <p>You workout a time and venue to exchange the items with the buyer.  </p>
                <p>Its a Win Win for both buyers and sellers</p>
              </blockquote>
              
            </div>
            <!-- /#post-content-->
          </div>
        </div>
      </div>
    </section>

    
    <section style="background: #fafafa;">
      <div class="container">
        <h3 class="heading">Featured Listings</h3>
        <div class="row featured same-height-row">
          <div class="col-md-4">
            <div class="box-image-text bg-visible same-height"> 
              <div class="top"><a href="/books">
                  <div class="image"><img src="/static/img/featured2.jpg" alt="" class="img-responsive"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Books</a></h5>
                <p class="featured__details">  <!-- <i class="fa fa-map-marker job__location"></i>Palo Alto --><span class="label featured__label label-success">Available</span></p>
                <p>Find textbooks relevant to your community schools.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-image-text bg-visible same-height"> 
              <div class="top"><a href="/games">
                  <div class="image"><img src="/static/img/featured1.jpg" alt="" class="img-responsive"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Games</a></h5>
                <p class="featured__details">  <!-- <i class="fa fa-map-marker job__location"></i>San Francisco --><span class="label featured__label label-success">Available</span></p>
                <p>Latest and greatest video games compatible with consoles like PS4, PS3, XBox One and more.</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="box-image-text bg-visible same-height"> 
              <div class="top"><a href="">
                  <div class="image"><img src="/static/img/featured3.jpg" alt="" class="img-responsive"></div>
                  <div class="bg"></div>
                  <div class="logo"><img src="" alt="" style="max-width: 80px;"></div></a></div>
              <div class="content">
                <h5><a href="detail.html">Musical Instruments</a></h5>
                <p class="featured__details">  <!-- <i class="fa fa-map-marker job__location"></i>San Francisco --><span class="label featured__label label-default">Coming Soon</span></p>
                <p>Musical instruments for your school band and orchestra approved by your current school.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="text-center margin-top"><a href="category.html" class="btn btn-ghost">See more jobs</a></div> -->
      </div>
    </section>
    